@charset "UTF-8";
/* ================================
		ESTILOS GENERALES
=================================*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap");
.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

.nav {
  z-index: 18;
}

.home {
  z-index: 16;
}

.navegacion {
  z-index: 14;
}

.about,
.video,
.gallery,
.frase,
.contacto,
.footer {
  z-index: 8;
}

.playFair {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

/* ================================
		INICIAN MÓDULOS
=================================*/
/* -------- Home --------*/
.home {
  height: 100vh;
  width: 100vw;
  background-color: var(--oxford);
}

/* -------- About --------*/
.about {
  height: 100vh;
  width: 100vw;
  background-color: var(--marfil);
}

/* -------- Video --------*/
.video {
  height: 100vh;
  width: 100vw;
  background-color: var(--blanco);
}

/* -------- Autoras --------*/
.autoras {
  height: 100vh;
  width: 100vw;
  background-color: var(--oxford);
}

/* -------- tiendas --------*/
.contenido {
  height: 100vh;
  width: 100vw;
  background-color: var(--ahuesado);
}

/* -------- footer --------*/
.autoras {
  height: 100vh;
  width: 100vw;
  background-color: var(--profundo);
}