.about {
	width: 100vw;
	background-color: var(--ahuesado);
	

	@include sm {
	}

	@include md {
	}

	@include lg {
		display: grid;
		grid-template-columns: 4rem repeat(12, 1fr) 4rem;
		grid-template-rows: 8rem repeat(6, auto) 0rem;

			&__title {
				grid-column: 7/9;
				grid-row: 2/3;
				display: flex;
				flex-flow: column;
				justify-content: center;
				align-items: center;
				margin: 1rem 0;

				img {
					width: 60%;
				}
			}

			&__summary {
				grid-column: 4/12;
				grid-row: 3/6;
				display: flex;
				flex-flow: column;
				justify-content: center;
				align-items: center;

				h4 {
					text-align: center;
					margin: 1rem;
				}

				h5 {
					text-align: center;
					margin: 2rem;
				}

				em {
					color: var(--pistache);
					font-weight: 700;
				}
			}

			&__line {
				grid-column: 7/9;
				grid-row: 6/7;
				display: flex;
				flex-flow: column;
				justify-content: center;
				align-items: center;
				margin: 1rem 0 0 0;

				div {
					width: 2px;
					height: 20vh;
					background-color: var(--profundo);
				}
			}
	}
}