.home {
  background-color: var(--verde);

  .book {
    &__title h1 {
    font-family: var(--fuenteH1);
    text-align: left;
    color: var(--blanco);
    }
  }

  .about {
  }

  @include sm {
    grid-template-rows: 4rem auto 2rem auto 2rem auto 4rem;

    img.home__book {
    grid-row: 2/3;
    grid-column: 2/6;
    height: 60vh;
    width: auto;
    margin: 0 auto;
    }

    .book {
    grid-row: 4/5;
    grid-column: 2/6;
    height: 70vh;

    &__logoBanner {
    display: none;
    }

    &__title {
    grid-column: 1/7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h1 {
    text-align: left;
    font-size: 2.75rem;
    line-height: 0.8;
    font-weight: bold;

    span {
    color: var(--verdeOscuro);
    }
    }

    a.home__button {
    display: none;
    }
    }
    }

    .about {
    grid-row: 6/7;
    grid-column: 2/6;
    height: 60vh;
    place-items: center;

    &__info {
    grid-column: 1/7;

    .about__anteTitulo {
    font-weight: 700;
    font-style: italic;
    color: var(--negro);
    text-align: left;
    margin-top: 1rem;
    }

    .about__titulo {
    font-family: var(--fuenteTitulos), sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: .8;
    color: var(--blanco);
    font-size: 1.5rem;
    text-align: left;
    }

    div.about__stores {
    }
    }
    }
  }

  @include md {
  }

  @include lg {
    grid-template-rows: 1rem auto 2rem 1rem auto 4rem;
    grid-column-gap: 1rem;

    .book {
      height: 90vh;
      grid-column: 1/15;
      grid-row: 2/3;
      grid-template-rows: 10vh auto;
      grid-column-gap: 1rem;

      &__logoBanner {
      grid-column: 2/14;
      grid-row: 1/2;
      display: flex;
      justify-content: space-between;
      // align-items: center;

      img.home__logo {
        height: 8vh;
      }

      .home__socialNetworks {
        display: flex;

      svg {
        margin: 0 0.25rem;
      }
      }
    }

    &__title {
      grid-column: 2/7;
      grid-row: 2/3;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-end;
      // margin-bottom: 2rem;

      // img.title { height: 60vh; }
      h1 {
      text-align: right;
      font-size: 4.75rem;
      line-height: 0.8;
      font-weight: bold;

      span {
      color: var(--verdeOscuro);
      }
      }

      a.home__button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--blanco);
      height: 3rem;
      width: 12rem;
      color: var(--verdeOscuro);

      p.linkComprar {
      color: var(--verdeOscuro);
      // font-size: 1.25rem;
      // letter-spacing: 1.5;
      }

      svg.fa-long-arrow-right {
      font-size: 1.1rem;
      margin-right: 0.5rem;
      }
      }

      // a.home__button:hover {
      // 	background-color: var(--azul);

      // 	p.linkComprar,
      // 	svg.fa-long-arrow-right { color: var(--blanco); }
      // }
    }
    }

    .about {
    height: 100vh;
    grid-column: 1/15;
    grid-row: 5/6;
    grid-template-rows: auto;
    grid-column-gap: 1rem;
    display: inherit;

    &__info {
    grid-column: 2/7;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    .about__anteTitulo {
    text-align: right;
    }

    .about__titulo {
    text-align: right;
    font-size: 2rem;
    }

    div.about__stores {
    display: flex;
    justify-content: flex-end;
    margin-top: 4px;
    }
    }
    }

    img.home__book {
    display: inherit;
    height: 85vh;
    width: auto;
    grid-column: 9/14;
    grid-row: 2/6;
    position: -webkit-sticky;
    position: sticky;
    top: 10vh;
    margin-bottom: 3rem;
    }
  }
}
