.nav {

	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	display: none;

	@include sm {
		
	}

	@include md {
		
	}

	@include lg {
		// display: grid;

		&__content {
			grid-column: 2/10;
			display: flex;
			flex-flow: column wrap;
			justify-content: center;
			align-items: center;
			
			.circle {
				background-color: var(--azul);
				border-radius: 50%;
				width: .75rem;
				height: .75rem;
				margin: .75rem 1.5rem .75rem 0;
			}
		}
	}
}

