.nav {
	
	
	@include sm {
	}

	@include md {
		position: fixed;
		top: 0;
		right: 0;
		height: 100vh;
		width: calc(100vw/12);
		background-color: transparent;
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;

		// display: grid;
		// grid-template-columns: repeat(12, 1fr);
		// grid-template-rows: auto;

		&__btn {
			// grid-column: 12/13;
			display: flex;
			flex-flow: column wrap;
			justify-content: center;
			align-items: center;

			div {
				background-color: var(--azul);
				width: .75rem;
				height: .75rem;
				border-radius: 50%;
				margin: .5rem 0;
			}
		}
	}

	@include lg {
	}
}