.video {
	height: auto;
	width: 100vw;
	background-color: var(--ahuesado);





	@include sm {
	}

	@include md {	
	}

	@include lg {
		
		iframe {
			max-width: 100vw;
			min-height: 95vh;
		}
	}


}