.video {
	width: 100vw;
	// align-self: center;
	background-color: #000000;

	@include sm {
		
	}

	@include md {
		
	}

	@include lg {
		height: 100vh;

		&__play { 
			grid-column: 2/14;
			align-self: center;
  			justify-self: center;	
			width: 5vw;
			// display: none;
		}

		&__autoras {
			grid-column: 2/14;
			width: 100%; 
			height: 100%;
			display: none;
		}
	}
}