.video {
	background-color: hsl(0, 0, 0);

	@include sm {
		width: 100%;
		// min-height: 50vh;
		
		&__autoras {
			grid-column: 2/6;
			width: 100%; 
			// min-height: 40vh;
			// border: 1px dashed orange;	
		}
	}

	@include md { }

	@include lg {
		height: 100vh;

		&__autoras {
			grid-column: 2/14;
			height: 100vh;
		}
	}
}