html(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(name='description' content='')
		meta(name='keywords' content='')
		meta(name='author' content='')
		link(rel='shortcut icon' href='images/icon.png' type='image/x-icon')
		
		//
			//////////////////////////////////////////////////////
			Kalollero Marro.on ~ 
			Diseño y Desarrollo by kalollero Marro.on 
			Website:    http://kalollero.github.io/PortFolio-Design.com
			Email:      kali.rso@hotmail.com
			Facebook:   https://www.facebook.com/KalolleroMarro.on
			//////////////////////////////////////////////////////

		title ¿Y SI DEJAS DE HACERTE PENDEJ@?

		//Icons
		script(src="https://kit.fontawesome.com/e2748531d2.js" crossorigin="anonymous")

		//Normalize 
		link(rel='stylesheet' href='css/normalize.css')


		//Style Landing Page
		link(rel='stylesheet' href='css/styles.css')

		



	body

		section.nav
			div.nav__content
				a(href="#home")#tippyhome
					div.circle
				a(href="#about")#tippyabout
					div.circle
				a(href="#description")#tippydescription
					div.circle
				a(href="#video")#tippyvideo
					div.circle
				a(href="#writers")#tippywriters
					div.circle
				a(href="#reviews")#tippyreviews
					div.circle
				a(href="#stores")#tippystores
					div.circle
		
		section.home#home

			
			
			section.book#book
				
				div.book__logoBanner
					img.home__logo(src="img/logoClaro.svg")
					div.home__socialNetworks
						a(href="")
							i.fab.fa-facebook-square
						a(href="")
							i.fab.fa-instagram
						a(href="")
							i.fab.fa-youtube

				div.book__title
					img.title(src="img/title.svg")
					a.home__button(href="")
						svg.svg-inline--fa.fa-long-arrow-right(aria-hidden="true" focusable="false" data-prefix="fal" data-icon="long-arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512")
							path(fill="currentColor" d="M311.03 131.515l-7.071 7.07c-4.686 4.686-4.686 12.284 0 16.971L387.887 239H12c-6.627 0-12 5.373-12 12v10c0 6.627 5.373 12 12 12h375.887l-83.928 83.444c-4.686 4.686-4.686 12.284 0 16.971l7.071 7.07c4.686 4.686 12.284 4.686 16.97 0l116.485-116c4.686-4.686 4.686-12.284 0-16.971L328 131.515c-4.686-4.687-12.284-4.687-16.97 0z")
							p.linkComprar
								small COMPRAR
		
			section.about#about
				div.about__info
					div
						p Titulo
						p ¿Y SI DEJAS DE HACERTE PENDEJ@?
					div
						p Autoras
						p Lucy Castilo & Vanessa Cano
					div
						p Editorial
						p Galaxia Literaria
					div
						p No. de páginas
						p 108
					div
						P Dimensiones
						p 13.97 x 0.69 x 21.59 cm
					div
						p ISBN-13
						p 979-8528581705
					div
						p Disponible en
						div.about__stores
							a(href="")
								img.store__amazonOscuro(src="img/amazonOscuro.svg")
							a(href="")
								img.store__gandhiOscuro(src="img/gandhiOscuro.svg")
							a(href="")
								img.store__barnesOscuro(src="img/barnesOscuro.svg")
							a(href="https://books.apple.com/mx/book/y-si-dejas-de-hacerte-pendej/id1574351932")
								img.store__ibookOscuro(src="img/ibookOscuro.svg")

			img.home__book(src="img/book.webp")

				
		section.description#description
			div.description__content
				img.description__logoVerde(src="img/logoVerde.svg")
				h2 Atrévete a correr el riesgo de ser verdaderamente tú.
				div.description__summary
					p Este libro te ofrece conceptos sobre diversos temas de reconocimiento personal, brindándote técnicas para poder 
						em transformar tu realidad
						|  a partir de ser consciente sobre quien verdaderamente eres y de lo que requieres para vivir en plenitud.

					p Aquí encontrarás 
						em herramientas
						|  para crear conciencia y 
						em conectar con el Universo
						| , así como formas de 
						em optimizar 
						|  la manera en que comunicas a través de 
						em tu imagen, empoderamiento, salud física y desarrollo profesional
						| , todo bajo un enfoque de la energía disponible en el Universo para ti.

					p Los procesos, herramientas y puntos de vista que aquí encontrarás, sin duda te contribuirán a transformar tu realidad y tu mundo, haciéndote saber que 
						em tú eres el creador de todo ello.

				div.description__autoras
					p Lucy Castillo & Vanessa Cano

				div.description__line
					div

		section.video#video
			//- img.video__play(src="img/play.svg")
			iframe.video__autoras(src="https://www.youtube.com/embed/wB41SFS-KRs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
		
		//- section.writers#writers
			div.writers__nav

			div.writers__lucyCastillo
				div.lucyCastillo__content
					h2 Lucy Castillo
					p Es maestra en 
						em Ingeniería en Imagen Pública.
						|  Se ha desarrollado en el área de la educación y la contaduría. 
					
					p Actualmente se desempeña como consultora en Imagen Pública, asesorando en el sector público y privado. 
					
					p También se ha adentrado en el estudio de 
						em Access Consciousness
						|  siendo certificadora de la herramienta de Barras de Access, técnica que le ha transformado la vida y con la que busca ser hilo conductor que transforme la 
						em vida de los demás.
					div.writers__socialNetworks
						a(href="")
							i.fab.fa-facebook-square
						a(href="")
							i.fab.fa-instagram

			
			div.writers__vanessaCano
				div.vanessaCano__content
					h2 Vanessa Cano
					
					p Maestra en 
						em Administración de Negocios.
						|  Actualmente se desenvuelve en el sector educativo.
					
					p Su pasión: 
						em el bienestar. 
						|  Maestra certificada en Kundalini Yoga, Coach en Cambio de Hábitos y Diseñadora de Imagen Pública.

					p En su camino halló la técnica de Access Consciousness, lo cual ha sido una enorme contribución para transformar su vida y crear su nueva realidad. Así que,
						em ¿Cómo puede mejorar esto? 
						|  y 
						em ¿Qué más es posible?

					div.writers__socialNetworks
						a(href="")
							i.fab.fa-facebook-square
						a(href="")
							i.fab.fa-instagram

		//- section.reviews#reviews
		
		section.stores#stores
			div.stores__info
				div.stores__title
				div.stores__shop
					p Disponible en
					div.stores__content
						a(href="")
							img.store__amazonClaro(src="img/amazonClaro.svg")
						a(href="")
							img.store__gandhiClaro(src="img/gandhiClaro.svg")
						a(href="")
							img.store__barnesClaro(src="img/barnesClaro.svg")
						a(href="")
							img.store__ibookClaro(src="img/ibookClaro.svg")
		
		footer.footer
			img.footer__frase(src="img/fraseClaro.svg")
			div.footer__nav
				a(href="") Inicio
				div ·
				a(href="") Acerca del Libro
				div ·
				a(href="") Sinopsis
				div ·
				a(href="") Autoras
				div ·
				a(href="") Reseñas
				div ·
				a(href="") Que esperas
			div.footer__socialNetworks
				a(href="")
					i.fab.fa-facebook-square
				a(href="")
					i.fab.fa-instagram
				a(href="")
					i.fab.fa-youtube


		//- script(src='https://unpkg.com/@popperjs/core@2.9.3/dist/umd/popper.min.js')
		//- script(src='https://unpkg.com/tippy.js@6.3.1/dist/tippy-bundle.umd.min.js')
		script(src='js/type.js' type='text/javascript')
			

